.LogoSearch{
    display: flex;
    gap: 0.75rem;
}
.Search{
    display: flex;
    background-color: var(--InputColor);
    border-radius: 10px;
    padding: 5px;
}
.Search>input{
    background-color: transparent;
    border: none;
    outline: none;
}
.s-icon{
display: flex;
justify-content: center;
background: linear-gradient(106.23deg, #0088e9, #7799da);
align-items: center;
border-radius: 5px;
padding: 4px;
color: white;
}
.s-icon:hover{
    cursor: pointer;
}
